input[type='number']
	-moz-appearance: textfield;
input[type='submit']
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none;
input[type="password"]
	font: small-caption
	line-height: 1.65
input
	box-shadow : none
	font-family: $o
	color: #000
	+rem(font-size,16px)
	+placeholder 
		font-family: $o
	&::-ms-clear
		display: none;
svg
	display: inline-block
	max-width: 100%
	max-height: 100%
button
	background: 0 0

*
	+box
	-webkit-tap-highlight-color: transparent
	+placeholder 
		font-family: $o
		+rem(font-size,16px)

textarea
	resize: none
	+placeholder 
		font-family: $o
		+rem(font-size,14px)
ul
	li>a 
		display: inline-block
		width: 100%
html
	font-size: 16px
	line-height: 1
	// overflow-x: hidden
	+r(1150)
		font-size: 15px
	+r(768)
		font-size: 14px
	+r(348)
		font-size: 13px
body
	background-attachment: fixed
	+box
	+font-smoothing
	text-rendering: optimizeLegibility
	font-family: $o
	min-width: 320px
	min-height: 100vh
	-webkit-overflow-scrolling: touch
	position: relative
	&.menu-stuck:not(.mobile)
		overflow: hidden
		padding-right: 18px
	&.menu-mobile
		overflow: hidden





//::-webkit-scrollbar-track
//	background-color: #fff
//
//::-webkit-scrollbar
//	width: 5px
//	background-color: transparent
//
//::-webkit-scrollbar-thumb
//	background-color: $green


.hidden
	display: none !important

.href
	transition: color 0.1s ease-in-out

.svg-green
	fill: $white

.svg-blue
	fill: $white

.green
	color: $green

.gray
	background-color: #f5f6f6


// --- Base Fonts Settings

a
	+ff('Roboto', 700, 18px)
	color: $green
	text-decoration: none
	transition: color 0.1s ease-in-out
	+rem(line-height, 24px)
	&:active, &:hover
		color: $active

h1
	+ff('GothamPro', 800, 70px)
	color: $text-h
h2
	+ff('GothamPro', 400, 38px)
	color: $text-h
	+rem(line-height, 48px)
	margin-bottom: 20px
h3
	+ff('Roboto', 600, 26px)
	color: $green
h4
	+ff('Roboto', 700, 18px)
	color: $green
p
	+ff('Roboto', 300, 18px)
	color: $text-gray
	a
		font-weight: inherit
p.annotation
	+rem(font-size, 26px)
	color: $text-annotation
	+rem(line-height, 36px)
p.darker, a.darker
	color: $text-darker
p.sub
	+ff('Roboto', 600, 16px)
	+rem(line-height, 30px)
p.caption
	+rem(font-size, 16px)
	color: $text-light-gray
	+rem(line-height, 24px)

// --- End Base Fonts Settings


.flex-block
	display: flex
	&>*
		position: relative
	&:nth-of-type(2)
		margin-top: 70px
	+r(768)
		&:not(.row)
			flex-direction: column
	+r(400)
		flex-direction: column
	.one-half
		width: 50%
		+r(768)
			width: 100%
			&:nth-of-type(2)
				margin: auto
				+rem(margin-top, 80px)
	.one-four
		width: 25%
		+r(768)
			width: 50%

.text-wrap
	+rem(max-width, 520px)

.count
	+rem(max-width, 200px)
	color: $white
	h2
		+rem(font-size, 70px)
		font-weight: 500
	p
		font-weight: 600
		opacity: 0.5
		+rem(line-height, 28px)
		+rem(margin-top, 20px)


#parallax
	h1, h2, h3, h4, p
		color: $white


.button-green-wrapper
	display: inline-block
a.button-green
	display: flex
	position: relative
	justify-content: flex-start
	margin-top: 45px
	color: $green
	background-color: transparent
	border: 1px solid $text-light-gray
	+rem(border-radius, 1000px)
	transition: border 0.2s ease-in, background-color 0.2s ease-in-out
	overflow: hidden
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	&:hover
		border: 1px solid transparent
		background-color: $active
		p
			color: $white
		.button-green__text-block__circle
			.button-fill-round
				fill: $white
			.button-fill-arrow
				transform: translatex(40px)
				&.blue
					transform: translatex(0px)
	.button-green__text-block
		position: relative
		+rem(padding-right, 50px)
		+rem(padding-top, 12px)
		+rem(padding-left, 20px)
		+rem(border-radius, 50px)
		+rem(padding-bottom, 11px)
		transition: transform 0.3s ease-in-out
	p
		+rem(line-height, 16px)
		+rem(font-size, 16px)
		word-wrap: normal
		word-break: keep-all
		white-space: nowrap
		color: $green
		transition: color 0.2s ease-in-out
	.button-green__text-block__circle
		display: block
		position: absolute
		+rem(width, 30px)
		+rem(height, 30px)
		+rem(right, 5px)
		+rem(top, 5px)
		svg
			position: relative
		.button-fill-round
			fill-rule: evenodd
			clip-rule:e venodd
			fill: $green
			transition: fill 0.2s ease-in-out
		.button-fill-arrow
			fill-rule: evenodd
			clip-rule: evenodd
			fill: none
			stroke: $white
			stroke-width: 1.8
			stroke-miterlimit: 10
			position: absolute
			transition: transform 0.2s ease-in-out
			&.blue
				transform: translatex(-40px)
				stroke: $active

// .button-green-wrapper
// 	display: inline-block
// a.button-green
// 	display: -webkit-flex
// 	display: -moz-flex
// 	display: -ms-flex
// 	display: -o-flex
// 	display: flex
// 	position: relative
// 	justify-content: flex-start
// 	margin-top: 45px
// 	color: $green
// 	background-color: transparent
// 	border: 1px solid $text-light-gray
// 	+rem(border-radius, 1000px)
// 	transition: border 0.2s ease-in, background-color 0.2s ease-in-out
// 	width: 50%
// 	overflow: hidden
// 	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

// 	&:hover
// 		border: 1px solid transparent
// 		background-color: $active
// 		.button-green__text-block
// 			transform: translatex(0%)
// 	.button-green__text-block
// 		position: relative
// 		+rem(padding-right, 50px)
// 		+rem(padding-top, 12px)
// 		+rem(padding-left, 20px)
// 		+rem(border-radius, 50px)
// 		+rem(padding-bottom, 11px)
// 		transform: translatex(-100%)
// 		transition: transform 0.3s ease-in-out
// 		&:first-of-type
// 			p
// 				color: $white
// 			.button-green__text-block__circle
// 				background-color: $white
// 				&:before
// 					border-right: 1px solid $active
// 					border-top: 1px solid $active
// 	p
// 		+rem(line-height, 16px)
// 		+rem(font-size, 16px)
// 		word-wrap: normal
// 		word-break: keep-all
// 		white-space: nowrap
// 		color: $green
// 	.button-green__text-block__circle
// 		display: block
// 		position: absolute
// 		+rem(width, 30px)
// 		+rem(height, 30px)
// 		background-color: $green
// 		+rem(border-radius, 50px)
// 		+rem(right, 5px)
// 		+rem(top, 5px)
// 		&:before
// 			position: absolute
// 			display: block
// 			content: ''
// 			+rem(width, 8px)
// 			+rem(height, 8px)
// 			border-right: 1px solid $white
// 			border-top: 1px solid $white
// 			+rem(top, 11px)
// 			transform: rotate(45deg)
// 			+rem(right, 12px)


.search
	margin: auto
	+rem(max-width, 480px)
	position: relative
	+r(768)
		width: 250px
	+r(480)
		width: 84%
	form
		+rem(max-width, 480px)
		position: relative
		+rem(height, 43px)
	input
		border: none
		background: none
		height: 100%
		width: 100%
		padding-left: 20px
		padding-right: 50px
		position: absolute
		+rem(height, 43px)
		z-index: 1
		+placeholder
			color: $text-light-gray
		&:focus
			& + label
				border: 1px solid $green
			& ~ .search-icon
				opacity: 1
				cursor: pointer
				z-index: 10000
				&:hover
					.seach-loop
						stroke: $active
					.search-stick
						fill: $active
	label
		width: 100%
		display: block
		border: 1px solid #d0d0d0
		border-radius: 50px
		+rem(height, 43px)
		position: relative
		pointer-events: none
		z-index: 1
	.search-icon
		opacity: 0.2
		+rem(width, 20px)
		position: absolute
		+rem(right, 20px)
		+rem(top, 2px)
		display: block
		height: 100%
		.seach-loop
			fill-rule: evenodd
			clip-rule: evenodd
			fill: none
			stroke: #484F42
			stroke-width: 1.5
			stroke-linecap: round
			stroke-linejoin: round
			stroke-miterlimit: 10
			transition: stroke 0.1s ease-in-out
		.search-stick
			fill: #484F42
			transition: fill 0.1s ease-in-out


main
	width: 100%
	margin: auto

#header-mainwrap
	z-index: 999
	left: 0
	top: 0
	width: 100%
	position: absolute
	background-color: #FFF
	.boxed
		position: relative
		z-index: 999
		.logo-wrapper
			+rem(width, 198px)
			+rem(height, 21px)
			position: absolute
			+rem(left, $sidestep)
			+rem(top, $topstep)
			z-index: 100
			.logo
				height: 100%
		.burger-menu
			cursor: pointer
			position: absolute
			+rem(right, $sidestep)
			+rem(top, $topstep - 7px)
			+rem(height, 36px)
			+rem(padding-top, 15px)
			padding-left: 10px
			padding-right: 10px
			z-index: 100
			&:before, &:after
				display: block
				content: ''
				+rem(width, 35px)
				height: 2px
				background-color: $white
				transition: transform 0.2s ease-in
			&:before
				transform: translate(0, -5px)
			&:after
				transform: translate(0, 5px)
			&:hover
				&:before, &:after, .burger-stick
					background-color: $active
			.burger-stick
				+rem(width, 35px)
				height: 2px
				background-color: $white
				transition: transform 0.2s ease-in, opacity 0.2s
		.header-menu
			z-index: 100
			nav
				position: absolute
				+rem(right, $sidestep+35px+$sidestep)
				+rem(top, $topstep - 6px)
				+r(768)
					display: none
				.nav-href
					color: $white
					display: inline-block
					line-height: 36px
					+ff('Roboto', 600, 18px)
					+rem(height, 37px)
					+rem(padding-left, 16px)
					+rem(padding-right, 16px)
					border-radius: 5px
					position: relative
					z-index: 2
					&:after
						content: ''
						display: block
						position: absolute
						width: 100%
						height: 100%
						top: 0
						left: 0
						background-color: $active
						opacity: 0
						transform: scale(1.05)
						transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out
						border-radius: 5px
						z-index: -1
					&:hover, &:focus
						&:after
							transform: scale(1)
							opacity: 1
					&.active
						&:after
							transform: scale(1)
							opacity: 1
							background-color: $green
			.header-menu-modal
				background-color: $white
				opacity: 0
				width: 100%
				position: relative
				z-index: 2
				transition: transform 0.3s ease-out, opacity 0.3s ease-in
				transform: translate(0px, -50%)
				padding-top: 80px
				min-height: 700px
				padding-bottom: 50px
				.menu-modal-wrap
					width: 100%
					height: 100%
					.menu-modal-top
						position: absolute
						width: 100%
						+rem(top, $topstep - 11px)
						+r(480)
							+rem(top, $topstep + 60px)
					.menu-modal-middle
						display: flex
						position: relative
						align-items: center
						min-height: 500px
						+r(768)
							background-color: $white
							padding-bottom: 50px
							height: auto
						.menu-columns
							display: flex
							+rem(max-width, 1400px)
							margin: auto
							justify-content: space-between
							background-color: $white
							+r(768)
								display: block
								+rem(margin-top, 80px)
								width: 100%
							.column
								+rem(max-width, 290px)
								display: inline-block
								+rem(padding-top, 20px)
								+rem(padding-left, $sidestep+10px)
								+rem(padding-right, $sidestep+10px)
								+r(768)
									display: block
									padding-top: 0
								.column-href
									+ff('Roboto', 400, 26px)
									color: $text-h
									display: block
									margin-top: 2vh
									margin-bottom: 2vh
									+rem(line-height, 36px)
									+r(768)
										+rem(margin-top, 34px)
									&:hover, &:active
										color: $active
								.column-sub-hrefs
									+r(768)
										display: none
									li
										display: block
									a
										+ff('Roboto', 400, 18px)
										display: block
										padding-top: 0.9vh
										padding-bottom: 0.9vh
										+rem(line-height, 28px)
										color: $text-annotation
										&:hover, &:active
											color: $active
	
	&.sticked
		position: fixed
		top: 0
		.logo-wrapper
			+rem(top, $topstep - 17px)
		.svg-green
			fill: $svg-green
		.svg-blue
			fill: $svg-blue
		.search
			+rem(top, $topstep - 60px)
		.header-menu-modal
			.menu-modal-wrap
				.menu-modal-top
					.change-lang
						+rem(top, $topstep - 50px)
		.boxed
			.header-menu
				+rem(height, 75px)
				background-color: $white
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1)
				nav
					+rem(top, $topstep - 26px)
					a
						color: $text-h
						&:hover
							color: $white
			#main-burger
				+rem(top, $topstep - 25px)
				&:before, &:after, .burger-stick
					background-color: $text-h


	&.active
		&:before
			position: fixed
			content: ''
			display: block
			bottom: 0
			left: 0
			width: 100%
			height: 100vh
			background-color: #333
			z-index: 999
			opacity: .5
		nav
			padding-right: 18px
		.boxed
			height: 100vh
			overflow-y: auto
			.logo-wrapper
				.logo
					+rem(left, $sidestep - 20px)
					+r(492)
						+rem(left, $sidestep - 20px)
					.svg-green
						fill: $svg-green
					.svg-blue
						fill: $svg-blue
			.burger-menu
				+rem(right, $sidestep+20px)
				+r(492)
					+rem(right, $sidestep - 20px)
				&:before
					transform: translate(0, 2px) rotate(45deg)
					background-color: $text-h
				&:after
					transform: translate(0, -2px) rotate(-45deg)
					background-color: $text-h
				.burger-stick
					transform: translate(-20px, 0)
					opacity: 0
					background-color: $text-h
			.header-menu
				position: relative
				height: auto
				.header-menu-modal
					transform: translate(0px, 0px)
					visibility: visible
					opacity: 1
					min-height: 100vh

#main-screen-wrapper
	height: 100vh
	width: 100%
	margin: 0
	padding: 0
	position: relative
	overflow: hidden
	+r(1024)
		height: auto
		+rem(min-height, 500px)
	+r(492)
		+rem(min-height, 380px)
	#main-video-wrapper
		position: fixed
		width: 100%
		height: 100vh
		z-index: -1
		.filter
			position: absolute
			width: 100%
			height: 100vh
			background-color: $green-place
			opacity: 0.3
		video
			min-width: 100%
			min-height: 100vh
			position: absolute
			z-index: -200
			left: 0
			right: 0
			margin: auto
			top: 50%
			left: 50%
			transform: translate(-50%, -50%) scale(1.4)
			opacity: 1
		img
			min-width: 100%
			min-height: 100vh
			position: absolute
			+vcenter
	#main-screen
		width: 100%
		height: 100%
		overflow: hidden
		position: relative
		+r(1024)
			height: auto
			+rem(min-height, 500px)
		+r(492)
			+rem(min-height, 380px)
		.line
			position: absolute
			height: 100%
			width: 1px
			background-color: #fff
			top: 0
			right: 0
		.main-screen-title
			position: absolute
			top: 0
			bottom: 0
			margin: auto
			width: 100%
			+rem(height, 200px)
			#title-wrapper
				transform: scale(1)
				transition: transform 0.6s ease-in-out
				&.active
					transform: scale(0.7)
				+r(1024)
					max-width: 100%
					+rem(margin-top, 50px)
				+r(492)
					+rem(margin-top, 75px)
			.title-sup
				+ff('GothamPro', 800, 50px)
				text-transform: uppercase
				color: #e7e8d6
				text-align: center
				+rem(margin-bottom, 100px)
				+rem(line-height, 0px)
				+r(1024)
					+rem(font-size, 25px)
					+rem(margin-bottom, 55px)
				+r(492)
					+rem(font-size, 16px)
					+rem(margin-bottom, 35px)
			.title-main
				+ff('GothamPro', 800, 140px)
				text-transform: uppercase
				color: $white
				text-align: center
				+rem(line-height, 0px)
				+r(1024)
					+rem(font-size, 70px)
				+r(492)
					+rem(font-size, 42px)
		.screen-links-wrapper
			display: flex
			position: relative
			+r(1024)
				display: none
			.screen-link
				width: 33%
				flex-grow: 1
				height: 100vh
				position: relative
				overflow: hidden
				img
					transform: translate(0px, 200px) scale(0.2)
					position: absolute
					opacity: 0
					transition: transform 0.4s ease-out, opacity 0.6s ease-out
					width: 100%
					min-height: 100%
				&:nth-of-type(2)
					.screen-link-text
						animation-delay: 0.3s
				&:nth-of-type(3)
					.screen-link-text
						animation-delay: 0.4s
				.screen-link-text
					position: absolute
					z-index: 2
					+rem(height, 200px)
					+rem(width, 240px)
					margin: auto
					left: 0
					right: 0
					text-align: center
					bottom: 0
					animation-delay: 0.2s
					.screen-link-title
						position: absolute
						left: 0
						right: 0
						margin: auto
						color: $white
						+ff('GothamPro', 400, 26px)
						transform: translate(0, 80px)
						transition: transform 0.4s ease-out
					p
						position: absolute
						left: 0
						right: 0
						margin: auto
						opacity: 0
						transform: translate(0, 120px)
						transition: transform 0.4s ease-out 0.1s, opacity 0.4s ease-out 0.1s
						color: $white
						+rem(font-size, 16px)
						font-weight: 600
						+rem(line-height, 30px)
					&:hover
						&+img
							transform: translate(0,0) scale(1)
							opacity: 1
						.screen-link-title
							transform: translate(0, 40px)
						p
							transform: translate(0, 80px)
							opacity: 1


.animateThis
	opacity: 0


#main-content
	background-color: $white

.box
	width: 100%
	+rem(padding-left, $sidestep)
	+rem(padding-right, $sidestep)
	+r(492)
		+rem(padding-left, $sidestep - 20px)
		+rem(padding-right, $sidestep - 20px)
	.block
		+rem(max-width, 1400px)
		margin: auto
		padding-top: 12vh
		padding-bottom: 12vh
.brands-wrapper
	margin-top: 60px
	#brands
		display: flex
		justify-content: center
		flex-wrap: wrap
		.brand
			outline: 1px solid $lineColor
			+rem(width, 200px)
			+rem(height, 220px)
			margin-left: -1px
			z-index: 0
			flex-grow: 1
			position: relative
			padding: 5px
			margin-top: 1px
			margin-left: 1px
			&:before
				display: block
				position: absolute
				content: ''
				bottom: -1px
				left: -1px
				width: 100%
				height: 0
				border-left: 1px solid $active
				border-right: 1px solid $active
				border-top: 1px solid transparent
				border-bottom: 1px solid transparent
				transition: height 0.15s ease-in-out, border-top 0s 0s, border-bottom 0s 0.15s
			.brand-anim-block
				position: relative
				width: 100%
				bottom: 0
			a
				width: 100%
				position: absolute
				bottom: 0
				left: 0
				top: 0
				right: 0
				display: flex
				justify-content: center
				align-items: center
				+rem(height, 210px)
				+rem(padding, 20px)
				img
					+rem(max-width, 150px)
					+rem(max-height, 95px)
					display: inline-block
					vertical-align: middle
				+r(1280)
					height: 300px
					img
						+rem(margin-top, -40px)
				+r(992)
					height: 250px
					img
						+rem(margin-top, -100px)
			//transition: border-color 0.1s ease-in
			+r(1280)
				+rem(width, 300px)
				+rem(height, 300px)
			+r(992)
				+rem(width, 250px)
				+rem(height, 250px)
			&:hover
				z-index: 2
				&:before
					height: 100%
					border-top: 1px solid $active
					border-bottom: 1px solid $active
					transition: height 0.15s ease-in-out, border-top 0s 0.15s, border-bottom 0s 0s
			&:nth-of-type(odd)
				animation-delay: 0.15s


$slSize: 440px

.scheme-wrapper
	position: relative
	+rem(max-height, 600px)
	+rem(max-width, 600px)
	width: 100%
	+r(768)
		margin: auto
		+rem(margin-top, 100px)
	.scheme-slider-wrapper
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		+rem(width, $slSize)
		+rem(height, $slSize)
		margin: auto
		border-radius: 50%
		overflow: hidden
		+r(1024)
			+rem(width, $slSize - 70px)
			+rem(height, $slSize - 70px)
		+r(768)
			+rem(width, $slSize)
			+rem(height, $slSize)
		+r(492)
			+rem(width, $slSize - 100px)
			+rem(height, $slSize - 100px)
		#scheme-slider
			width: 100%
			height: 100%
			border-radius: 50%
			overflow: hidden
			position: relative
			.scheme-slider__slide
				+rem(width, $slSize)
				+rem(height, $slSize)
				position: absolute
				border-radius: 50%
				overflow: hidden
				z-index: 1
				transition: transform .4s ease-in-out, opacity .4s
				+r(1024)
					+rem(width, $slSize - 70px)
					+rem(height, $slSize - 70px)
				+r(768)
					+rem(width, $slSize)
					+rem(height, $slSize)
				+r(492)
					+rem(width, $slSize - 100px)
					+rem(height, $slSize - 100px)
				&-inner
					position: relative
					width: 100%
					height: 100%
					z-index: 0
					border-radius: 50%
					overflow: hidden
				&-image 
					+coverdiv
					+cover 
					z-index: -1
					border-radius: 50%
					overflow: hidden
				&-text 
					position: absolute
					+rem(top, 100px)
					+rem(max-width, 350px)
					left: 0
					right: 0
					margin: auto
					h3
						color: $text-h
						+rem(font-size, 26px)
						+rem(line-height, 32px)
						font-weight: 400
						+rem(margin-bottom, 20px)
						text-align: center
					p
						+rem(line-height, 28px)
						color: $text-h
						text-align: center
				&.active
					z-index: 2
					opacity: 1
					transform: none
					transition-delay: .3s
				&:not(.active)
					opacity: 0
					transform: scale(0.6)
					transition-delay: .1s
				img
					position: absolute
					width: 100%
					z-index: 0
		.scheme-slider__update
			position: absolute
			+rem(width, 40px)
			+rem(height, 40px)
			+rem(bottom, 50px)
			left: 0
			right: 0
			margin: auto
			z-index: 2
			border-radius: 50%
			transition: transform 0.2s ease-in-out
			svg
				.scheme-circle
					fill-rule:evenodd
					clip-rule:evenodd
					fill:#FFFFFF
					transition: fill 0.2s ease-in-out
				.scheme-refresh-arrow
					fill:#0C0C0C
					transition: fill 0.2s ease-in-out
			&:hover
				transform: rotate(360deg)
				svg
					.scheme-circle
						fill: $active
					.scheme-refresh-arrow
						fill: $white



#scheme
	width: 100%
	+rem(max-height, 600px)
	height: 100vh
	.scheme-menu
		transform-origin: 50% 50%
		transition: transform 0.5s ease-in-out
		g.icon
			transform-origin: 50% 50%
			transition: transform 0.5s ease-in-out
	.scheme-part
		fill: $white
		transition: fill 0.2s ease-in-out
	.scheme-part-green
		fill: $green
		transition: fill 0.1s ease-in-out
	.scheme-part-icon
		fill: $text-light-gray
		&.two
			fill: none
			stroke: $text-light-gray
			stroke-linecap: round
			stroke-linejoin: round
			stroke-miterlimit: 10
	.scheme-part-circle
		fill: #EFEFEF
	.scheme-button
		cursor: pointer
		&.active
			cursor: pointer
			.scheme-part, .scheme-part-green
				fill: $green
			.scheme-part-icon
				fill: $white
				&.two
					fill: none
					stroke: $white
		&:hover
			.scheme-part, .scheme-part-green
				fill: $active
			.scheme-part-icon
				fill: $white
				&.two
					fill: none
					stroke: $white

.download
	+rem(margin-top, 50px)
	+rem(margin-bottom, 30px)
	display: block
	svg
		+rem(width, 38px)
		+rem(height, 38px)
		display: inline-block
		vertical-align: top
		+rem(margin-top, 10px)
	.download-text
		display: inline-block
		+rem(margin-left, 10px)
		vertical-align: top
		.href
			color: $green
			font-weight: 600
		p
			color: $text-light-gray
			+rem(margin-top, 3px)
		&:hover
			.href
				color: $active



.counts-wrapper
	background-image: url("../img/index/paralax-bg.jpg")
	background-attachment: fixed
	background-position : 50% 0px
	background-repeat: no-repeat
	background-size: cover

.carousel-buttons
	background-color: #f5f6f6
	display: inline-block
	+rem(border-radius, 100px)
	overflow: hidden
	+rem(margin-bottom, 40px)
	.carousel-buttons-wrap
		display: flex
		+rem(height, 43px)
		.button
			+rem(padding, 14px)
			+rem(padding-left, 20px)
			+rem(padding-right, 20px)
			cursor: pointer
			border: 1px solid transparent
			transition: border 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out
			p
				color: $text-darker
				font-weight: 400
				+rem(font-size, 16px)
			&.active
				border: 1px solid $green
				background-color: #FFF
				p
					color: $green
				&:first-of-type
					border-radius: 100px 0 0 100px
				&:last-of-type
					border-radius: 0 100px 100px 0
			&:hover
				background-color: $active
				border: 1px solid transparent
				p
					color: #fff


#index-chart
	width: 100%
	.chart-wrapper
		display: flex
		flex-direction: column
		overflow: hidden
		.chart-bar
			+rem(height, 66px)
			position: relative
			opacity: 0.99
			width: 0
			cursor: pointer
			&:nth-of-type(2)
				opacity: 0.9
			&:nth-of-type(3)
				opacity: 0.8
			&:nth-of-type(4)
				opacity: 0.7
			&:nth-of-type(5)
				opacity: 0.6
			&:nth-of-type(6)
				opacity: 0.5
			&:nth-of-type(7)
				opacity: 0.4
			&:after
				content: ''
				display: block
				position: absolute
				top: 0
				left: 0
				width: 0
				height: 100%
				background-color: $green
				z-index: -1
				transition: background-color 0.15s ease-in-out
				+r(1024)
					width: 100%
			p
				position: absolute
				+rem(top, 26px)
				+rem(left, 25px)
				color: $white
				+rem(font-size, 16px)
				&.annotation
					+rem(right, 25px)
					left: auto
					+rem(top, 15px)
					+rem(font-size, 26px)
			&:hover
				opacity: 0.99
				&:after
					background-color: $active

.block-news
	border-top: 1px solid $lineColor
	h2
		+rem(margin-bottom, 60px)
	.one-half:not(:first-of-type)
		+rem(margin-left, 30px)
	.one-half:first-of-type
		+rem(margin-right, 30px)
	.news
		img
			width: 100%
		.href
			+rem(margin-top, 20px)
			+rem(margin-bottom, 20px)
			display: block
			+rem(font-size, 26px)
			+rem(line-height, 36px)
			font-weight: 600
			color: $green
			transition: color 0.15s ease-in-out
		p:not(.href)
			+rem(line-height, 26px)
			+rem(font-size, 16px)
			+rem(margin-top, 20px)
			+rem(margin-bottom, 20px)
			display: block
		&:not(.big-news)
			.href
				margin-top: 0
				+rem(font-size, 16px)
				+rem(line-height, 30px)
				font-weight: 700
			.text-news
				+rem(padding-bottom, 14px)
				display: block
				&:not(:first-of-type)
					+rem(padding-top, 40px)
				&:not(:last-of-type)
					border-bottom: 1px solid $lineColor
	a:hover
		.href
			color: $active


.callback-wrap
	margin-top: 7vh
	margin-bottom: 7vh
	&.callback
		+r(768)
			border-top: 1px solid $lineColor
			padding-top: 5vh
			margin-bottom: 7vh
	&.vacancy
		+r(768)
			border-bottom: 1px solid $lineColor
			padding-bottom: 5vh
			margin-top: 0
	p.sub
		margin-bottom: 3vh
		+rem(font-size, 16px)
		font-weight: 400
	.tell
		color: $text-h
		font-weight: 700
		+rem(margin-bottom, 12px)
		+rem(font-size, 26px)
		display: block
		+rem(min-width, 230px)
	.mail
		font-weight: 600
	.icon
		+rem(height, 35px)
		+rem(margin-right, 10px)
	svg
		+rem(width, 35px)

.callback-button
	background-color: $green
	+rem(width, 183px)
	+rem(height, 43px)
	+rem(border-radius, 50px)
	+rem(font-size, 16px)
	+rem(padding-top, 3px)
	color: $white
	transition: background-color 0.15s ease-in-out
	&:focus, &:hover
		background-color: $active

.change-lang
	position: absolute
	+rem(right, $sidestep+55px+$sidestep)
	+rem(top, 14px)
	+r(768)
		display: none
	a
		color: $text-gray
		&:not(:first-of-type)
			+rem(margin-left, 10px)
		&.active
			color: $text-h
		&:focus, &:hover
			color: $active

footer
	background-color: $white
	border-top: 1px solid $lineColor
	.callback-wrap
		margin-top: 0
	p.caption
		font-weight: 600
	.footer-hrefs
		a
			display: block
			color: $text-h
			&:not(:last-of-type)
				+rem(margin-bottom, 28px)
			&.active
				color: $text-light-gray
				border-bottom: 1px solid $text-light-gray
				display: inline-block
				+rem(padding-bottom, 3px)
			&:hover
				color: $active
	.footer-lang-caption
		position: absolute
		bottom: 0
		.change-lang
			+rem(margin-bottom, 40px)
			position: relative
			right: auto
			top: auto
	.footer-contacts
		.tell
			+rem(font-size, 26px)
			+rem(margin-bottom, 10px)
			+rem(margin-top, 20px)
	.footer-office-wrapper
		position: absolute
		bottom: 0
		p.office-title
			+rem(font-size, 18px)
			+rem(line-height, 30px)
			+rem(margin-bottom, 20px)
			font-weight: 700
			color: $text-h
		a.darker
			+rem(font-size, 16px)
			+rem(margin-top, 5px)
			+rem(margin-bottom, 5px)
			font-weight: 600
		a
			+rem(margin-top, 20px)
			display: block
			+rem(font-size, 16px)
	.footer-makers
		position: absolute
		bottom: 0
		display: block
		left: 0
		.caption
			+rem(margin-bottom, 3px)
		.href
			font-weight: 600
			color: $green
		&:hover
			.href
				color: $active
