.brands-wrapper
	.brands
		a(href="#").brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.2s")
			img(src="/img/brands/brand1.png", alt="brand")
		a(href="#").brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.3s")
			img(src="/img/brands/brand2.png", alt="brand")
		a(href="#").brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.4s")
			img(src="/img/brands/brand3.png", alt="brand")
		a(href="#").brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.5s")
			img(src="/img/brands/brand4.png", alt="brand")
		a(href="#").brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.6s")
			img(src="/img/brands/brand5.png", alt="brand")
		a(href="#").brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.7s")
			img(src="/img/brands/brand6.png", alt="brand")