.brands-wrapper
	script.
		var brandElems = {
			'brands': [
				{'href': '#', 'src': '/img/brands/brand (1).png'},
				{'href': '#', 'src': '/img/brands/brand (2).png'},
				{'href': '#', 'src': '/img/brands/brand (3).png'},
				{'href': '#', 'src': '/img/brands/brand (4).png'},
				{'href': '#', 'src': '/img/brands/brand (5).png'},
				{'href': '#', 'src': '/img/brands/brand (6).png'},
				{'href': '#', 'src': '/img/brands/brand (7).png'},
				{'href': '#', 'src': '/img/brands/brand (8).png'},
				{'href': '#', 'src': '/img/brands/brand (9).png'},
				{'href': '#', 'src': '/img/brands/brand (10).png'},
				{'href': '#', 'src': '/img/brands/brand (11).png'},
				{'href': '#', 'src': '/img/brands/brand (12).png'},
				{'href': '#', 'src': '/img/brands/brand (13).png'},
				{'href': '#', 'src': '/img/brands/brand (14).png'},
				{'href': '#', 'src': '/img/brands/brand (15).png'},
				{'href': '#', 'src': '/img/brands/brand (16).png'},
				{'href': '#', 'src': '/img/brands/brand (17).png'},
				{'href': '#', 'src': '/img/brands/brand (18).png'},
				{'href': '#', 'src': '/img/brands/brand (19).png'},
				{'href': '#', 'src': '/img/brands/brand (20).png'},
				{'href': '#', 'src': '/img/brands/brand (21).png'},
				{'href': '#', 'src': '/img/brands/brand (22).png'},
				{'href': '#', 'src': '/img/brands/brand (23).png'},
				{'href': '#', 'src': '/img/brands/brand (24).png'}
			]
		};
	.brands
		.brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.2s")
			.brand-anim-block
		.brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.3s")
			.brand-anim-block
		.brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.4s")
			.brand-anim-block
		.brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.5s")
			.brand-anim-block
		.brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.6s")
			.brand-anim-block
		.brand.animateThis(data-anim="fadeInUp" style="animation-delay: 0.7s")
			.brand-anim-block