.wrapper#footer
	.box
		.block
			.flex-block
				.footer-column.footer-first.animateThis(data-anim="fadeInUp" style="animation-delay: 0.2s")
					.footer-block-wrapper
						.vacancy.callback-wrap
							a(href="#")
								svg(class="icon icon-vacancy")
									use(xlink:href="#linkedin" xmlns:xlink="http://www.w3.org/1999/xlink")
							a(href="#")
								svg(class="icon icon-vacancy")
									use(xlink:href="#jobs" xmlns:xlink="http://www.w3.org/1999/xlink")
							.footer-caption
								p.caption © 1998–2017 <br>Группа компаний<br> «Серволюкс»

				.footer-column.footer-third.animateThis(data-anim="fadeInUp" style="animation-delay: 0.4s")
					.footer-block-wrapper
						.footer-contacts-wrapper
							p.caption Контактная информация
							.footer-contacts.callback-wrap
								a(href="tel:+375222323334").tell +375 22 232 33-34
								a(href="mailto:mail@servolux.com").mail.green mail@servolux.com

				.footer-column.footer-fourth.animateThis(data-anim="fadeInUp" style="animation-delay: 0.5s")
					.footer-block-wrapper
						a(href="#").footer-makers
							p.caption Дизайн и разработка:
							p.href FLEX.MEDIA




