.wrapper#footer
	.box
		.block
			.flex-block
				.one-four.animateThis(data-anim="fadeInUp" style="animation-delay: 0.2s")
					.footer-block-wrapper
						.vacancy.callback-wrap
							a(href="#")
								svg(class="icon icon-vacancy")
									use(xlink:href="#linkedin" xmlns:xlink="http://www.w3.org/1999/xlink")
							a(href="#")
								svg(class="icon icon-vacancy")
									use(xlink:href="#jobs" xmlns:xlink="http://www.w3.org/1999/xlink")
						.footer-lang-caption
							.change-lang
									a(href="#") Eng
									a(href="#").active Рус
							.footer-caption
								p.caption © 1998–2017 <br>Группа компаний<br> «Серволюкс»
				
				.one-four.animateThis(data-anim="fadeInUp" style="animation-delay: 0.3s")
					.footer-block-wrapper
						.footer-hrefs
							a(href="#").active Главная
							a(href="#") Группа компаний
							a(href="#") Деятельность
							a(href="#") Партнёрство
							a(href="#") Карьера
							a(href="#") Новости
							a(href="#") Контакты

				.one-four.animateThis(data-anim="fadeInUp" style="animation-delay: 0.4s")
					.footer-block-wrapper
						.footer-contacts-wrapper
							p.caption Контактная информация
							.footer-contacts.callback-wrap
								a(href="tel:+375222323334").tell +375 22 232 33-34
								a(href="mailto:mail@servolux.com").mail.green mail@servolux.com
						.footer-office-wrapper
							p.office-title Головной офис
							p.caption 212030, Республика Беларусь,<br>г. Могилёв, ул. Первомайская, 77
							a(href="tel:+375222323334").darker тел./факс: +375 222 327 334
							a(href="#") Ещё 5 офисов
				
				.one-four.animateThis(data-anim="fadeInUp" style="animation-delay: 0.5s")
					.footer-block-wrapper
						button.callback-button Обратная связь
						a(href="#").footer-makers
							p.caption Дизайн и разработка:
							p.href FLEX.MEDIA
			



