.wrapper#footer.footer2
	.box
		.block
			.flex-block
				.footer-column.footer-first.animateThis(data-anim="fadeInUp" style="animation-delay: 0.2s")
					.footer-block-wrapper
						.vacancy.callback-wrap
							a(href="#")
								svg(class="icon icon-vacancy")
									use(xlink:href="#linkedin" xmlns:xlink="http://www.w3.org/1999/xlink")
							a(href="#")
								svg(class="icon icon-vacancy")
									use(xlink:href="#hh" xmlns:xlink="http://www.w3.org/1999/xlink")
							.footer-caption
								.caption © 1998–2017 ГK «Серволюкс»

				.footer-column.footer-third.animateThis(data-anim="fadeInUp" style="animation-delay: 0.4s")
					.footer-block-wrapper
						.footer-contacts-wrapper
							p.caption Контактная информация
							.footer-contacts.callback-wrap
								a(href="tel:+375297474866").tell +375 29 747 48 66
								.splice /
								a(href="mailto:hr@servolux.by").mail.green hr@servolux.by

				.footer-column.footer-fourth.animateThis(data-anim="fadeInUp" style="animation-delay: 0.5s")
					.footer-block-wrapper
						a(href="#").footer-makers
							.caption Дизайн и разработка:
							.href FLEX.MEDIA




