include _mixins.pug
.header-mainwrap.animated
	.boxed
		.header-menu
			nav
				a(href="#") Группа компаний
				a(href="#") Деятельность
				a(href="#") Партнерство
				a(href="#") Карьера
				a(href="#") Контакты
			.header-menu-modal
				.menu-modal-wrap
					.menu-modal-top
						.search
							input#search-input(type="text" name='search-input' placeholder="Я ищу...")
							label(for="search-input")
								svg(class="icon search-icon")
									use(xlink:href="#search" xmlns:xlink="http://www.w3.org/1999/xlink")
						.change-lang
							a(href="#") Eng
							a(href="#").active Рус
					.menu-modal-middle
						.menu-columns
							.column
								a(href="#").column-href Главная
								a(href="#").column-href Группа компаний
								ul.column-sub-hrefs
									li
										a(href="#") О Компании
									li
										a(href="#") История
									li
										a(href="#") Результаты деятельности
									li
										a(href="#") Активы
									li
										a(href="#") География
									li
										a(href="#") Бренды
							.column
								a(href="#").column-href Деятельность
								ul.column-sub-hrefs
									li
										a(href="#") Виды деятельности
									li
										a(href="#") Производство комбикормов
									li
										a(href="#") Племенное птицеводство
									li
										a(href="#") Производство продуктов питания
									li
										a(href="#") Производство молочных продуктов
									li
										a(href="#") Собственная торговля
									li
										a(href="#") Девелопмент
									li
										a(href="#") Проектирование и реконструкция
							.column
								a(href="#").column-href Партнёрство
								ul.column-sub-hrefs
									li
										a(href="#") Работа с нами
									li
										a(href="#") Поставщикам
									li
										a(href="#") Покупателям
									li
										a(href="#") Инвесторам
								a(href="#").column-href Карьера
								ul.column-sub-hrefs
									li
										a(href="#") Преимущества
									li
										a(href="#") Цифры
									li
										a(href="#") Корпоративная культура
									li
										a(href="#") Карьерные возможности
							.column
								a(href="#").column-href Новости
								a(href="#").column-href Контакты
								.callback.callback-wrap
									p.sub Связаться с нами
									p.tell +375 22 232 33-34
									a(href="mailto:mail@servolux.com").mail.green mail@servolux.com
								.vacancy.callback-wrap
									p.sub Следить за вакансиями
									a(href="#")
										svg(class="icon icon-vacancy")
											use(xlink:href="#linkedin" xmlns:xlink="http://www.w3.org/1999/xlink")
									a(href="#")
										svg(class="icon icon-vacancy")
											use(xlink:href="#jobs" xmlns:xlink="http://www.w3.org/1999/xlink")
								button.callback-button Обратная связь
		.logo-wrapper
			a(href="#")
				.logo
					svg(id="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148 15.8")
						path(class="svg-green" d="M2.6 11.5c1.6.2 2.7-.1 3.6-1 .7-.8 1.1-1.7 1.6-2.7.4-.9.8-1.9 1.6-2.7.5-.6 1.3-1.1 2.3-1.6 1.6-.7 2.9-.7 4.1-.5V.9c0-.5-.4-.9-.9-.9H.9C.4 0 0 .4 0 .9v9.2c.6.7 1.3 1.2 2.6 1.4")
						path(class="svg-blue" d="M13.2 4.3c-1.6-.2-2.7.1-3.6 1C8.9 6.1 8.4 7 8 7.9c-.4.9-.8 1.9-1.6 2.7-.5.6-1.3 1.1-2.3 1.6-1 .4-1.9.6-2.7.6-.5 0-.9-.1-1.4-.2v2.1c0 .5.4.9.9.9h13.9c.5 0 .9-.4.9-.9V5.6c-.5-.6-1.3-1.2-2.5-1.3")
						path(class="svg-green" d="M93.6 14.2V7.3c0-2 1.2-3.3 3.2-3.3h2.5v10.1h2.6V1.6h-5.2c-3.1 0-5.8 2-5.8 5.4v7.2h2.7zM52.4 14.2V1.6h5.9c2.7 0 4.2 1.9 4.2 4.1 0 2.2-1.5 4.1-4.2 4.1h-3.2v4.5h-2.7zm7.4-8.6c0-1.1-.8-1.7-1.9-1.7H55v3.4h2.9c1.1 0 1.9-.6 1.9-1.7M132 14.2h3l-5.1-7.3 4.9-5.3h-3.3l-5.6 6.2V1.6h-2.7v12.6h2.7v-2.9l2.3-2.5zM64.2 14.2V1.6h6.7c2.4 0 3.6 1.5 3.6 3.2 0 1.6-1 2.6-2.2 2.9 1.3.2 2.4 1.5 2.4 3.1 0 1.9-1.3 3.4-3.7 3.4h-6.8zm7.6-8.9c0-.8-.6-1.4-1.5-1.4h-3.4v2.7h3.4c.9 0 1.5-.5 1.5-1.3m.2 5.1c0-.8-.6-1.5-1.6-1.5h-3.5v2.9h3.5c1 .1 1.6-.5 1.6-1.4M23.7 7.9c0-3.6 2.9-6.5 6.5-6.5 2.8 0 4.9 1.6 5.9 3.8l-2.4 1c-.6-1.4-1.9-2.3-3.5-2.3-2.2 0-3.9 1.8-3.9 4s1.7 4 3.9 4c1.7 0 2.9-1 3.5-2.4l2.4 1c-1 2.3-3.1 3.9-6 3.9-3.6-.1-6.4-2.9-6.4-6.5M135.5 7.9c0-3.6 2.9-6.5 6.5-6.5 2.8 0 4.9 1.6 5.9 3.8l-2.4 1c-.6-1.4-1.9-2.3-3.5-2.3-2.2 0-3.9 1.8-3.9 4s1.7 4 3.9 4c1.7 0 2.9-1 3.5-2.4l2.4 1c-1 2.3-3.1 3.9-6 3.9-3.6-.1-6.4-2.9-6.4-6.5M86.4 7.9c0-2.2-1.7-4-3.8-4-2.1 0-3.8 1.8-3.8 4s1.7 4 3.8 4c2.1 0 3.8-1.8 3.8-4m-10.2 0c0-3.6 2.9-6.5 6.4-6.5 3.6 0 6.5 2.8 6.5 6.5 0 3.6-2.9 6.5-6.5 6.5-3.6-.1-6.4-2.9-6.4-6.5M47.4 10.3c-.7 1-1.9 1.7-3.3 1.7-2.2 0-3.7-1.4-4-3.1h10.3V7.8c0-3.7-2.7-6.3-6.4-6.3S37.5 4.4 37.5 8s2.6 6.4 6.6 6.4c2.4 0 4.1-1 5.3-2.5l-2-1.6zM44 3.6c1.9 0 3.3 1 3.7 2.8h-7.5c.5-1.5 2-2.8 3.8-2.8M114.9 1.4c-3.2 0-5.8 2.3-6.3 5.3H107V1.6h-2.7v12.6h2.7V9h1.6c.5 3 3.1 5.3 6.3 5.3 3.6 0 6.5-2.9 6.5-6.5-.1-3.5-2.9-6.4-6.5-6.4zm0 10.5c-2.1 0-3.8-1.8-3.8-4s1.7-4 3.8-4c2.1 0 3.8 1.8 3.8 4s-1.7 4-3.8 4z")
		#main-burger.burger-menu
			.burger-stick

	