mixin button(text, hr="#")
	.button-green-wrapper
		a(href=hr).button-green
			.button-green__text-block
				p= text
				.button-green__text-block__circle
			.button-green__text-block
				p= text
				.button-green__text-block__circle