.modal-layout(data-modal='offer').js-popup-container
	.modal-container
		.modal-container-inner
			.modal-container-header
				.title.h2 
				i.small-link.pop-close.closePopup
			.modal-container-content
	//контейнер ответа модалки 
	.modal-container.response(style='display: none')
		.modal-container-inner
			.modal-container-header
				.title.h2 Спасибо за обращение!
				i.small-link.pop-close.closePopup
			.modal-container-content
				.text Ваше сообщение успешно отправлено. Наш оператор свяжется с вами в ближайшее время для уточнения деталей.
