extends _layout

block title
	title Index
block config
	- var main = false
	- var chart = true
block content
	#content-first-screen(style="background-image: url(/img/1-0/header-img.jpg)")
	#main-content
		.box
			.block
				.flex-block

				







	