extends _layout

block title
	title Index
block config
	- var main = false
	- var chart = true
block content
	#main-screen-wrapper.advancedPage(style="background-image: url(/img/1-0/header-img.jpg)")
		#main-screen
			.main-screen-title.screen-links-wrapper
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="#") Главная
					p.title-main Группа компаний
	#main-content
		.box
			.block
				.flex-block
					.one-half
						p.h2 Крупнейший оператор и производитель на агропромышленном рынке Беларуси
					.one-half
						p.h3 Мы лидеры в сегменте птицеводства и стремительно наращиваем мощности по производству продукции. 
						p.sub Стратегия компании предусматривает ориентацию на инновационный подход в области производства, логистики, продаж и IT, что позволяет гарантировать высокое качество и безопасность продукции.







	