extends _layout

block title
	title Index
block config
	- var main = false
	- var chart = true
block content
	#main-screen-wrapper.advancedPage(style="background-image: url(/img/1-0/header-img.jpg)")
		#main-screen
			.main-screen-title.screen-links-wrapper
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="#") Главная
					p.title-main Группа компаний
	#main-content
		.box
			.block
				.flex-block
					.one-half
						.text-wrap
							p.h2 Крупнейший оператор и производитель на агропромышленном рынке Беларуси
					.one-half
						.text-wrap
							p.h3 Мы лидеры в сегменте птицеводства и стремительно наращиваем мощности по производству продукции. 
							p.sub Стратегия компании предусматривает ориентацию на инновационный подход в области производства, логистики, продаж и IT, что позволяет гарантировать высокое качество и безопасность продукции.
				.flex-block.advantages.row
					mixin one-four-advantage(img, text)
						.one-four
							.advantage-wrapper
								.advantage-img
									img(src=img)
								.advantage-text
									p.sub= text
					+one-four-advantage('/img/1-0/icon_1.png', 'По экспорту комбикормов и премиксов, мяса птицы')
					+one-four-advantage('/img/1-0/icon_2.png', 'Cамая современная лаборатория контроля качества')
					+one-four-advantage('/img/1-0/icon_3.png', 'Более 10 рынков сбыта продукции в разные страны')
					+one-four-advantage('/img/1-0/icon_4.png', 'Крупнейший региональный ритейлер')
				.flex-block.advantages.row
					+one-four-advantage('/img/1-0/icon_5.png', 'Доля рынка мяса птицы в Республике Беларусь')
					+one-four-advantage('/img/1-0/icon_6.png', 'Входит в десятку крупнейших производителей мяса птицы в РФ')
					+one-four-advantage('/img/1-0/icon_7.png', 'Экспортер года 2015/2016 в категории мясная промышленность')
					+one-four-advantage('/img/1-0/icon_8.png', 'Собственная логистическия база')








	