extends _layout

block title
	title Index
block config
	- var main = false
	- var chart = true
block content
	#main-screen-wrapper.advancedPage(style="background-image: url(/img/1-0/header-img.jpg)")
		#main-screen
			.main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="#") Главная
					p.title-main Группа компаний
	#main-content
		.box
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h2 Крупнейший оператор и производитель на агропромышленном рынке Беларуси
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h3 Мы лидеры в сегменте птицеводства и стремительно наращиваем мощности по производству продукции. 
							p.sub Стратегия компании предусматривает ориентацию на инновационный подход в области производства, логистики, продаж и IT, что позволяет гарантировать высокое качество и безопасность продукции.
				.flex-block.advantages.row
					- var adv = 0.2
					mixin one-four-advantage(img, text)
						.one-four
							.advantage-wrapper.animateThis(data-anim="fadeInUp" style="animation-delay: " + adv + "")
								.advantage-img
									img(src=img)
								.advantage-text
									p.sub= text
						- adv=adv+0.2
					+one-four-advantage('/img/1-0/icon_1.png', 'По экспорту комбикормов и премиксов, мяса птицы')
					+one-four-advantage('/img/1-0/icon_2.png', 'Cамая современная лаборатория контроля качества')
					+one-four-advantage('/img/1-0/icon_3.png', 'Более 10 рынков сбыта продукции в разные страны')
					+one-four-advantage('/img/1-0/icon_4.png', 'Крупнейший региональный ритейлер')
				.flex-block.advantages.row
					+one-four-advantage('/img/1-0/icon_5.png', 'Доля рынка мяса птицы в Республике Беларусь')
					+one-four-advantage('/img/1-0/icon_6.png', 'Входит в десятку крупнейших производителей мяса птицы в РФ')
					+one-four-advantage('/img/1-0/icon_7.png', 'Экспортер года 2015/2016 в категории мясная промышленность')
					+one-four-advantage('/img/1-0/icon_8.png', 'Собственная логистическия база')
		.box#parallax
			.parallax-img
				img(src="/img/1-0/parallax-bg_1-0.jpg", alt="")
			#dates
				.dates-slider-wrapper
					#dates-slider.block.slick-slider
						.dates-slide-column.slick-slide
							p.h1 2006
							.dates-event
								p.sub Строительство комбикормового завода в Минской области
							.dates-event
								p.sub Строительство головного офиса в Могилеве
							.dates-event
								p.sub Строительство очистных сооружений в г. Смолевичи
							.dates-event
								p.sub Строительство молочно- товарной фермы
						.dates-slide-column.slick-slide
							p.h1 2007
							.dates-event
								p.sub Проект Greenfield — мясоперерабатывающий завод (готовая продукции)
						.dates-slide-column.slick-slide
							p.h1 2008
							.dates-event
								p.sub Запуск молочно-товарной фермы и нового участка производства творога и творожно-сливочных сыров на «Смолевичи Молоко»
							.dates-event
								p.sub Завершение строительства головного офиса компании в Могилеве
						.dates-slide-column.slick-slide
							p.h1 2009
							.dates-event
								p.sub Запуск в эксплуатацию инновационной 3-й площадки по выращиванию цыплят бройлеров в ОАО «Смолевичи бройлер»
						.dates-slide-column.slick-slide
							p.h1 2010
							.dates-event
								p.sub Строительство комбикормового завода в Минской области
							.dates-event
								p.sub Строительство головного офиса в Могилеве
							.dates-event
								p.sub Строительство очистных сооружений в г. Смолевичи
							.dates-event
								p.sub Строительство молочно- товарной фермы
						.dates-slide-column.slick-slide
							p.h1 2011
							.dates-event
								p.sub Проект Greenfield — мясоперерабатывающий завод (готовая продукции)
						.dates-slide-column.slick-slide
							p.h1 2012
							.dates-event
								p.sub Запуск молочно-товарной фермы и нового участка производства творога и творожно-сливочных сыров на «Смолевичи Молоко»
							.dates-event
								p.sub Завершение строительства головного офиса компании в Могилеве
						.dates-slide-column.slick-slide
							p.h1 2013
							.dates-event
								p.sub Запуск в эксплуатацию инновационной 3-й площадки по выращиванию цыплят бройлеров в ОАО «Смолевичи бройлер»
						.dates-slide-column.slick-slide.slick-active
							p.h1 2014
							.dates-event
								p.sub Строительство комбикормового завода в Минской области
							.dates-event
								p.sub Строительство головного офиса в Могилеве
							.dates-event
								p.sub Строительство очистных сооружений в г. Смолевичи
							.dates-event
								p.sub Строительство молочно- товарной фермы
						.dates-slide-column.slick-slide.slick-active
							p.h1 2015
							.dates-event
								p.sub Проект Greenfield — мясоперерабатывающий завод (готовая продукции)
						.dates-slide-column.slick-slide.slick-active
							p.h1 2016
							.dates-event
								p.sub Запуск молочно-товарной фермы и нового участка производства творога и творожно-сливочных сыров на «Смолевичи Молоко»
							.dates-event
								p.sub Завершение строительства головного офиса компании в Могилеве
						.dates-slide-column.slick-slide.slick-active
							p.h1 2017
							.dates-event
								p.sub Запуск в эксплуатацию инновационной 3-й площадки по выращиванию цыплят бройлеров в ОАО «Смолевичи бройлер»
		.box#graphics
			.block
				p.h2 Результаты деятельности
				.carousel-buttons.animateThis(data-anim="fadeInRight")
							.carousel-buttons-wrap
								.button.active
									p Мясо птицы
								.button
									p Корма и компоненты
								.button
									p Мясо-колбасные изделия
								.button
									p Молоко
				.flex-block
					.one-half
						p.h3 Отчеты о деятельности компании
						p Мы обеспечиваем планомерное и гармоничное развитие при работе с поставщиками. Основой отношений является взаимовыгодное сотрудничество с партнерами, внедрение передовых технологий и мировой опыт организации розничной торговли.
						+download_pdf('Отчет по экспорту')
						+download_pdf('Годовой отчет 2016')
						+download_pdf('сследование отрасли 2016')
					.one-half
						script.
							var chartData = [
								{
									"title": "Производство мяса птицы, тыс. тонн",
									"values": [
										{"date": "2011", "value": 20},
										{"date": "2012", "value": 30},
										{"date": "2013", "value": 43},
										{"date": "2014", "value": 56},
										{"date": "2015", "value": 88.9},
										{"date": "2016", "value": 100},
										{"date": "2017", "value": 120}
									]
								},
								{
									"title": "Производство кормов и компонентов, тыс. тонн",
									"values": [
										{"date": "2011", "value": 250},
										{"date": "2012", "value": 350},
										{"date": "2013", "value": 430},
										{"date": "2014", "value": 560},
										{"date": "2015", "value": 880.9},
										{"date": "2016", "value": 1000},
										{"date": "2017", "value": 1200}
									]
								},
								{
									"title": "Производство мяса-колбасных изделий, тыс. тонн",
									"values": [
										{"date": "2011", "value": 150},
										{"date": "2012", "value": 280},
										{"date": "2013", "value": 340},
										{"date": "2014", "value": 500},
										{"date": "2015", "value": 900},
										{"date": "2016", "value": 1400},
										{"date": "2017", "value": 2000}
									]
								},
								{
									"title": "Производство молока, тыс. тонн",
									"values": [
										{"date": "2011", "value": 290},
										{"date": "2012", "value": 500},
										{"date": "2013", "value": 830},
										{"date": "2014", "value": 1200},
										{"date": "2015", "value": 1800},
										{"date": "2016", "value": 2350},
										{"date": "2017", "value": 3000}
									]
								}
							]
						#company-chart



	