extends _layout

block title
	title Index
block config
	- var main = false
	- var chart = true
block content
	#main-screen-wrapper.advancedPage(style="background-image: url(/img/1-0/header-img.jpg)")
		#main-screen
			.main-screen-title.screen-links-wrapper
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="#") Главная
					p.title-main Группа компаний
	#main-content
		.box
			.block
				.flex-block
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe repellat consequatur, rerum, obcaecati vero voluptatem dignissimos blanditiis dolore molestiae ab, id laboriosam repellendus perspiciatis! Repellendus nostrum corrupti placeat ipsum accusantium.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, non? Qui ea maxime, eius nobis vel voluptatum vero sunt soluta itaque, nihil, facilis explicabo. Placeat, tempore iure doloremque dolor beatae incidunt, sint. Ducimus deserunt neque assumenda consequatur asperiores odit quasi blanditiis quas iusto rerum magnam tempora repellat magni totam natus, architecto ea cupiditate amet possimus harum. Debitis aspernatur non exercitationem repellat enim quibusdam odit praesentium molestiae accusantium, sequi! Molestiae necessitatibus numquam dignissimos tempora obcaecati autem voluptates. Necessitatibus quia, ipsa dolor adipisci cumque ad! Laboriosam quae consequatur omnis ipsum nisi error, soluta, dicta. Sit eaque, ab minus esse explicabo voluptas. Voluptatibus voluptates molestias harum ipsa voluptas, ipsam facere dignissimos deserunt cumque cum et accusamus! Sunt rerum vel, sequi odit aperiam exercitationem earum nostrum commodi, dolores molestias totam facilis in libero itaque modi eveniet unde pariatur dolore aliquam at, beatae laborum. Odio tempora assumenda accusantium sapiente ut ipsa? Voluptate eaque illo reiciendis placeat, veniam assumenda, veritatis id voluptatum esse velit ex? Cum praesentium aliquid voluptatum eum quia ratione vel delectus suscipit. Tenetur iste nihil distinctio earum harum consequatur eveniet architecto obcaecati a, cum laudantium, rem pariatur et nostrum explicabo unde, commodi aliquid est nemo dolor delectus laborum ipsam? Repudiandae mollitia tempora vel.
				







	