extends _layout

block title
	title Брэнд
block config
	- var main = false
	- var chart = false
	- var map = true
block content
	#main-screen-wrapper.advancedPage
		#main-first-screen-fading-wrapper
			img(src="/img/1-1/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="#") Главная
						a(href="#") Группа компаний
					p.title-main Кувшинка
	#main-content
		.box#top
			.block
				#brand-logo
					.brand-logo-wrapper
						.brand-logo-img
							img(src="/img/brands/brand (1).png" alt="brand")
						.brand-logo-button
							a(href="#").brand-button Перейти на сайт
				.small-block
					p.annotation История предприятия начинается в 1958 году со строительства Смолевичского молочного завода, специализирующегося на производстве цельномолочной продукции.
					p В июле 1987 года завод стал самостоятельной производственной единицей, а в 2010 г. был присоединен к ОАО «Смолевичская бройлерная птицефабрика». С 1 июля 2014 г. предприятие функционирует в составе филиала «Смолевичи Молоко» ОАО «Смолевичи Бройлер».
					p Филиал «Смолевичи Молоко» занимается развитием направлений по производству и переработки молока. За 2014 год объем переработки молока составил 28,8 тыс. тонн. Для производства продукции используется высококачественное молоко от собственного стада коров с поголовьем  более 8 тыс. Предприятие также использует молоко-сырье сторонних хозяйств. В настоящее время ведется строительство инновационной молочной фермы, что позволит полностью перейти на использование собственного сырья. Производство продукции на «Смолевичи Молоко» начинается с тщательного контроля молока-сырья.