extends _layout

block title
	title Брэнд
block config
	- var main = false
	- var chart = false
	- var map = true
	- var chartjs = false
block content
	#main-screen-wrapper.advancedPage
		#main-first-screen-fading-wrapper
			img(src="/img/1-1/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="index.html") Главная
						a(href="1-0company.html") Группа компаний
					h1.title-main Кувшинка
	#main-content
		.box#top
			.block.medium-size
				#brand-logo.animateThis(data-anim="fadeInUp")
					.brand-logo-wrapper
						.brand-logo-img
							img(src="/img/brands/brand(2).png" alt="brand")
						.brand-logo-button
							a(href="#").brand-button Перейти на сайт
				#brand-info.block-inner
					.small-block.animateThis(data-anim="fadeInUp")
						p.annotation История предприятия начинается в 1958 году со строительства Смолевичского молочного завода, специализирующегося на производстве цельномолочной продукции.
						p В июле 1987 года завод стал самостоятельной производственной единицей, а в 2010 г. был присоединен к ОАО «Смолевичская бройлерная птицефабрика». С 1 июля 2014 г. предприятие функционирует в составе филиала «Смолевичи Молоко» ОАО «Смолевичи Бройлер».
						p Филиал «Смолевичи Молоко» занимается развитием направлений по производству и переработки молока. За 2014 год объем переработки молока составил 28,8 тыс. тонн. Для производства продукции используется высококачественное молоко от собственного стада коров с поголовьем  более 8 тыс. Предприятие также использует молоко-сырье сторонних хозяйств. В настоящее время ведется строительство инновационной молочной фермы, что позволит полностью перейти на использование собственного сырья. Производство продукции на «Смолевичи Молоко» начинается с тщательного контроля молока-сырья.
				#brand-products.block-inner
					.small-block.animateThis(data-anim="fadeInUp")
						p.brand-subtitle Продукция
					#brand-products-block.animateThis(data-anim="fadeInUp")
						#brand-products-slider.slick-slider(data-title="Молочная продукция компании «Кувшинка»")
							- var product = 1
							mixin products-slide
								a(href='#modal').products-slide.slick-slide
									.slide-img
										img(src="/img/1-1/slider/product(" + product + ").png" data-img="/img/1-1/slider-images/product(" + product + ").png" data-text="Молочная продукция компании «Кувшинка» N" + product +  "" )
								- product++
							+products-slide
							+products-slide
							+products-slide
							+products-slide
							+products-slide
							+products-slide
							+products-slide
							+products-slide
							+products-slide
							+products-slide
							+products-slide
							+products-slide
				#brand-production.block-inner
					.small-block.animateThis(data-anim="fadeInUp")
						p.brand-subtitle Производство
						p В 2014 году продукция «Смолевичи Молоко» приобрела новое название и визуальное оформление. Новый бренд «Кувшинка» — это свежая и натуральная продукция. Логотип «Кувшинки» имеет несколько смысловых значений: стилистический прием прозрачности и плавности перехода цветов описывает цикличность и естественность природы, ее постоянное развитие. Логотип также символизирует создание продукта с «самого начала».
					.small-block#brand-production-vertical-slider
						.flex-block
							.one-half.animateThis(data-anim="fadeInUp")
								.flex-block.column
									.flex-item.green-stick-top
										p За последнее время завод был существенно модернизирован и реконструирован
									.flex-item.green-stick-top
										p Был приобретен пост приемки, что обеспечивает полный закрытый автоматизированный цикл учёта и охлаждения в потоке молока-сырья
									.flex-item.green-stick-top
										p Была запущена автоматизированная пастеризационная установка и высокопроизводительный автоматн
									.flex-item.green-stick-top
										p Значительно повысилась экологичность производства за счет перехода от транспортировки продукции в полиэтиленовой таре к гофроящикам
							.one-half.animateThis(data-anim="fadeInRight")#vertical-wrapper
								.vertical-absolute
									#vertical-slider.slick-slider.vertical-slider
										.slick-slide
											.img-wrapper(style="background-image: url('/img/1-1/vertSlider/slide(1).jpg')")
										.slick-slide
											.img-wrapper(style="background-image: url('/img/1-1/vertSlider/slide(1).jpg')")
										.slick-slide
											.img-wrapper(style="background-image: url('/img/1-1/vertSlider/slide(1).jpg')")
										.slick-slide
											.img-wrapper(style="background-image: url('/img/1-1/vertSlider/slide(1).jpg')")
				#brand-contacts.block-inner
					.small-block
						p.brand-subtitle.animateThis(data-anim="fadeInUp") Контакты
						p.darker.animateThis(data-anim="fadeInUp") Филиал «Смолевичи Молоко»
						p.animateThis(data-anim="fadeInUp") Республика Беларусь, г. Смолевичи, ул. Социалистическая, 54б., 222201
						.flex-block
							.one-four.animateThis(data-anim="fadeInUp")
								p.caption Телефоны
							.one-four.animateThis(data-anim="fadeInUp")
								a(href="Tel:+375177625374").brand-telephone +375 177 62 53 74
								a(href="Tel:+375177655795").brand-telephone +375 177 65 57 95
								a(href="Tel:+375177625371").brand-telephone +375 177 62 53 71
								a(href="Tel:+375297898121").brand-telephone +375 29 789 81 21
							.one-four.animateThis(data-anim="fadeInUp")
								p.caption.brand-email-title Сайт
								p.caption.brand-email-title E-mail
							.one-four.animateThis(data-anim="fadeInUp")
								a(href="#").brand-email kuvshinka.by
								a(href="#").brand-email sb.milk@servolux.by
					script.
						var arrayOfPins = [
							{
								'lat': 54.028572,
								'lng': 28.088151,
								'name': 'Филиал «Смолевичи Молоко»'
							},
							{
								'lat': 52.028572,
								'lng': 28.088151,
								'name': 'Филиал «Смолевичи Молоко»'
							},
							{
								'lat': 56.028572,
								'lng': 28.088151,
								'name': 'Филиал «Смолевичи Молоко»'
							}]
					#map.map-elem-near(data-lat="54.028572", data-lon="28.088151", data-icon='/img/1-0/pin.png', data-zoom="16")
				+backButonWrapper('Назад', '1-2brands.html')
		#modal.remoda(data-remodal-id="modal")
			button(data-remodal-action="close").remodal-close
			#modal-block-wrapper
				.block
					.modal-content-wrapper.animateThis(data-anim="fadeInUp")
						#modal-content-images.slick-slider
						#modal-content.slick-slider
		.box#company-brands.line-top
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.h2 Другие бренды
				include includes/_brands_footer.pug
