extends _layout

block title
	title Брэнды
block config
	- var main = false
	- var chart = false
	- var map = false
block content
	#main-screen-wrapper.advancedPage
		#main-first-screen-fading-wrapper
			img(src="/img/1-1/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="index.html") Главная
					p.title-main Все бренды
	#main-content
		.box#company-brands
			.block.line-top
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.h2 Все бренды
				include includes/_brands_footer.pug