extends _layout

block title
	title Партнёрство
block config
	- var main = false
	- var chart = false
	- var map = true
	- var chartjs = true
block content
	#main-screen-wrapper.advancedPage
		#main-first-screen-fading-wrapper
			img(src="/img/3-0/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="index.html") Главная
					h1.title-main Партнёрство
	#main-content
		aside#aside-menu.animated.fadeInLeft
			.aside-menu-wrapper
		.box#top.aside-menu-item(data-aside="Работа с нами")
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h2 Серволюкс - надёжный и престижный партнер.  Наша деловая репутация имеет высокий рейтинг в бизнес-среде.
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h3 Высокая рентабельность бизнеса, стратегия развития компании с длинным горизонтом, гибкость в принятии решений, наличие амбициозных перспективных планов   привлекает серьезных инвесторов
							p.sub Замкнутый цикл производства - это гарантия качества и безопасности для конечного потребителя продукции группы компаний.
		.box#delivers.aside-menu-item(data-aside="Поставщикам").gray
			.block
				.flex-block
					.one-half
						.text-wrap.animateThis(data-anim="fadeInUp")
							p.h2 Поставщикам
						.text-wrap.animateThis(data-anim="fadeInUp")
							p.h3 «Серволюкс» одновременно работает более чем с 1 000 поставщиков различных товаров, материалов и услуг. Компания всегда открыта к развитию сети бизнес-контактов, партнерства. Мы ориентированы не на сделки, а на долговременное взаимовыгодное партнерство.<br>Принципы работы с партнерами в Группе компаний:
						.flex-block
							.one-half.animateThis(data-anim="fadeInUp")
								.green-stick-top
									p Открытость для  коммуникаций
							.one-half.animateThis(data-anim="fadeInUp")
								.green-stick-top
									p Взаимное доверие
							.one-half.animateThis(data-anim="fadeInUp")
								.green-stick-top
									p Взаимная выгода
							.one-half.animateThis(data-anim="fadeInUp")
								.green-stick-top
									p Соблюдение договоренностей
						a.animateThis(data-anim="fadeInUp" href="#callbackModalWindow").callback-button Предложить сотрудничество
					.one-half
						.flex-img-wrapper.animateThis(data-anim="fadeInUp")
							.flex-img(style='background-image: url("img/3-0/delivers-img.jpg")').js-image.bg
				#partners-slider.animateThis(data-anim="fadeInUp")
					#partners-slider-wrapper.slick-slider
						- var partner = 0
						mixin partners-slide
							.partners-slide.slick-slide
								.slide-img
									img(src="/img/3-0/partners/partner(" + partner + ").png").js-image
							- partner++
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
		.box#parallax.aside-menu-item(data-aside="Покупателям")
			.parallax-img
				.parallax-img-relative
					img(src="/img/3-0/parallax.jpg", alt="" data-rellax-speed='2').rellax
			#clients.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.h2 Клиентам
					.one-half.animateThis(data-anim="fadeInUp")
						p.annotation Наша продукция представлена практически во всех крупных сетях, гипермаркетах, магазинах у дома и специализированных мясных лавках.
						a(href="#callbackModalWindow").callback-button Стать клиентом
			.block
				.flex-block.advantages.row
					- var adv = 0.2
					mixin one-four-advantage(img, text)
						.one-four
							.advantage-wrapper.animateThis(data-anim="fadeInUp" style="animation-delay: " + adv + "s")
								.advantage-img-item
									img(src=img).js-image.advantage-img
								.advantage-text
									p= text
						- adv=adv+0.08
					+one-four-advantage('/img/3-0/icon_1.png', 'Собственный парк специализированных  автомобилей гарантирует своевременную доставку продукции компании с соблюдением  необходимых температурных режимов')
					+one-four-advantage('/img/3-0/icon_2.png', 'Наши клиенты – крупнейшие игроки рынка сетевой розницы и производители продуктов питания РБ')
					+one-four-advantage('/img/3-0/icon_3.png', 'Высокая узнаваемость наших брендов, лояльность потребителей  подтверждена статистическими исследованиями в Беларуси и России')
					+one-four-advantage('/img/3-0/icon_4.png', 'Современные лаборатории и служба контроля качества гарантируют поставку только проверенной и безопасной продукции')
				.flex-block.advantages.row
					+one-four-advantage('/img/3-0/icon_5.png', 'Серволюкс обеспечивает постоянную рекламную поддержку собственных брендов')
					+one-four-advantage('/img/3-0/icon_6.png', 'Мы открыты к участию в совместных проектах по продвижению продукции с нашими партнерами на взаимовыгодных условиях')
					+one-four-advantage('/img/3-0/icon_7.png', 'При заключении договоров поставки ориентируемся не только на собственные интересы, но внимательно рассматриваем предложения и ожидания наших партнеров')
					+one-four-advantage('/img/3-0/icon_8.png', 'Популярность выпускаемой продукции отражается высокой оборачиваемостью на полке')
		.box#Investments.aside-menu-item(data-aside="Инвесторам")
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.h2 Результаты деятельности
						p.h3 Отчеты о деятельности компании
						p Мы обеспечиваем планомерное и гармоничное развитие при работе с поставщиками. Основой отношений является взаимовыгодное сотрудничество с партнерами, внедрение передовых технологий и мировой опыт организации розничной торговли.
						+download_pdf('Отчет по экспорту')
						+download_pdf('Годовой отчет 2016')
						+download_pdf('сследование отрасли 2016')
						a.animateThis(data-anim="fadeInUp" href="#callbackModalWindow").callback-button Стать инвестором
					.one-half.animateThis(data-anim="fadeInLeft")
						.carousel-buttons.animateThis(data-anim="fadeInRight")
							#chart-control.carousel-buttons-wrap
								.button(data-chart="0").active
									p Выручка
								.button(data-chart="1")
									p Реализация
								.button(data-chart="2")
									p Наши цели на 2017 - 2020 г.
						script.
							var barChartData = [
								{
								value: "$млн",
								title: "Результаты деятельности",
								labels: ["2011", "2012", "2013", "2014", "2015", "2016", "2017"],
								datasets: [{
								label: 'Мясо птицы',
								backgroundColor: '#56b622',
								data: [11,35,60,85,110, 210, 250]
								}, {
								label: 'Комбикорма',
								backgroundColor: '#f2bc18',
								data: [15,40,65,90,115, 210, 250]
								}, {
								label: 'Ритейл',
								backgroundColor: '#f8df0f',
								data: [20,45,70,95,120, 210, 250]
								}, {
								label: 'Мясопереработка',
								backgroundColor: '#00b88f',
								data: [25,50,75,100,125, 210, 250]
								}, {
								label: 'Молочные продукты',
								backgroundColor: '#0056b8',
								data: [30,55,80,105,130, 210, 250]
								}]
								},
								{
								value: "тонн",
								title: "Реализация",
								labels: ["2011", "2012", "2013", "2014", "2015"],
								datasets: [{
								label: 'Мясо птицы',
								backgroundColor: '#56b622',
								data: [22,35,60,85,110]
								}, {
								label: 'Комбикорма',
								backgroundColor: '#f2bc18',
								data: [25,40,65,90,205]
								}, {
								label: 'Ритейл',
								backgroundColor: '#f8df0f',
								data: [60,45,70,95,120]
								}, {
								label: 'Мясопереработка',
								backgroundColor: '#00b88f',
								data: [25,80,75,100,125]
								}, {
								label: 'Молочные продукты',
								backgroundColor: '#0056b8',
								data: [30,88,80,105,50]
								}]
								},
								{
								value: "тыс.тонн",
								title: "Цели",
								labels: ["2011", "2012", "2013", "2014", "2015"],
								datasets: [{
								label: 'Мясо птицы',
								backgroundColor: '#56b622',
								data: [11,35,60,85,110]
								}, {
								label: 'Комбикорма',
								backgroundColor: '#f2bc18',
								data: [15,40,65,90,115]
								}, {
								label: 'Ритейл',
								backgroundColor: '#f8df0f',
								data: [20,45,70,95,120]
								}, {
								label: 'Мясопереработка',
								backgroundColor: '#00b88f',
								data: [25,50,75,100,125]
								}, {
								label: 'Молочные продукты',
								backgroundColor: '#0056b8',
								data: [30,55,80,105,130]
								}]
								}
								];
						canvas#canvas(height="275px" style="height: 275px")
		//.box#whywe.line-top
		//	.block
		//		.flex-block
		//			.one-half.animateThis(data-anim="fadeInUp")
		//				p.h2 Почему нас выбирают
		//			.one-half.animateThis(data-anim="fadeInUp")
		//				p.annotation «Серволюкс» является крупнейшим инвестором в Беларуси. У нас более 2000 клиентов по всему миру.
		//		.flex-block
		//			.one-half.animateThis(data-anim="fadeInUp")
		//				p.darker Порядочность
		//				.green-stick-top
		//					p Полный цикл производства «от поля до прилавка» гарантирует безопасность и стабильные вкусовые свойства продукции в каждой поставке.
		//			.one-half.animateThis(data-anim="fadeInUp")
		//				p.darker Ориентированность на клиентов
		//				.green-stick-top
		//					p В нашем арсенале собственная логистическая компания и разветвленная сеть дистрибьюторских центров. Мы поставляем товар в срок и в любом объеме.
		//			.one-half.animateThis(data-anim="fadeInUp")
		//				p.darker Ответственность
		//				.green-stick-top
		//					p Мы соблюдаем жесткие требования по перевозке и хранению продукции благодаря развитой низкотемпературной логистике.
		//			.one-half.animateThis(data-anim="fadeInUp")
		//				p.darker Программа лояльности
		//				.green-stick-top
		//					p Мы предлагаем программы лояльности для вас и ваших сотрудников
		//		.flex-block.animateThis(data-anim="fadeInUp")
		//			.one-half
		//			.one-half
		//				+button('Связаться с нами')