extends _layout

block title
	title Партнёрство
block config
	- var main = false
	- var chart = true
	- var map = true
block content
	#main-screen-wrapper.advancedPage
		#main-first-screen-fading-wrapper
			img(src="/img/1-0/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="index.html") Главная
					p.title-main Партнёрство
	#main-content
		aside#aside-menu.animated.fadeInLeft
			.aside-menu-wrapper
		.box#top.aside-menu-item(data-aside="Работа с нами")
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h2 Динамично развивающийся игрок аграрного сектора
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h3 Мы лидеры в сегменте птицеводства и стремительно наращиваем мощности по производству продукции.
							p.sub Стратегия компании предусматривает ориентацию на инновационный подход в области производства, логистики, продаж и IT, что позволяет гарантировать высокое качество и безопасность продукции.
		.box#delivers.aside-menu-item(data-aside="Поставщикам").gray
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h2 Поставщикам
						.text-wrap
							p.h3 «Серволюкс» работает более чем 500 поставщиками, в число которых входят производители, дистрибьюторы и импортёры. Мы предлагаем:
						.flex-block
							.one-half
								.green-stick-top
									p Дилерство около 20 лучших европейских и американских производителей оборудования  для животноводства
							.one-half
								.green-stick-top
									p Импорт зерновых, масличных культур, составляющих для производства кормов
							.one-half
								.green-stick-top
									p Доставку необходимых товаров и оборудования в срок в любую точку мира
							.one-half
								.green-stick-top
									p Выгодные условия по аренде помещений в вашей местности
						a(href="#").callback-button Стать партнёром
					.one-half
						.flex-img-wrapper
							.flex-img(style='background-image: url("img/3-0/delivers-img.jpg")')