extends _layout

block title
	title Партнёрство
block config
	- var main = false
	- var chart = false
	- var map = true
block content
	#main-screen-wrapper.advancedPage
		#main-first-screen-fading-wrapper
			img(src="/img/1-0/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="index.html") Главная
					p.title-main Партнёрство
	#main-content
		aside#aside-menu.animated.fadeInLeft
			.aside-menu-wrapper
		.box#top.aside-menu-item(data-aside="Работа с нами")
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h2 Динамично развивающийся игрок аграрного сектора
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h3 Мы лидеры в сегменте птицеводства и стремительно наращиваем мощности по производству продукции.
							p.sub Стратегия компании предусматривает ориентацию на инновационный подход в области производства, логистики, продаж и IT, что позволяет гарантировать высокое качество и безопасность продукции.
		.box#delivers.aside-menu-item(data-aside="Поставщикам").gray
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h2 Поставщикам
						.text-wrap
							p.h3 «Серволюкс» работает более чем 500 поставщиками, в число которых входят производители, дистрибьюторы и импортёры. Мы предлагаем:
						.flex-block
							.one-half
								.green-stick-top
									p Дилерство около 20 лучших европейских и американских производителей оборудования  для животноводства
							.one-half
								.green-stick-top
									p Импорт зерновых, масличных культур, составляющих для производства кормов
							.one-half
								.green-stick-top
									p Доставку необходимых товаров и оборудования в срок в любую точку мира
							.one-half
								.green-stick-top
									p Выгодные условия по аренде помещений в вашей местности
						a(href="#").callback-button Стать партнёром
					.one-half
						.flex-img-wrapper
							.flex-img(style='background-image: url("img/3-0/delivers-img.jpg")')
				#partners-slider
					#partners-slider-wrapper.slick-slider
						- var partner = 0
						mixin partners-slide
							.partners-slide.slick-slide
								.slide-img
									img(src="/img/3-0/partners/partner(" + partner + ").png")
							- partner++
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
						+partners-slide
		.box#parallax.aside-menu-item(data-aside="Покупателям")
			.parallax-img
				img(src="/img/3-0/parallax.jpg", alt="")
			#clients.block
				.flex-block
					.one-half
						p.h2 Клиентам
					.one-half
						p.annotation Наша продукция представлена практически во всех крупных сетях, гипермаркетах, магазинах у дома и специализированных мясных лавках.
						a(href="#").callback-button Стать клиентом
				.flex-block.advantages.row
					- var adv = 0.2
					mixin one-four-advantage(img, text)
						.one-four
							.advantage-wrapper.animateThis(data-anim="fadeInUp" style="animation-delay: " + adv + "s")
								.advantage-img
									img(src=img)
								.advantage-text
									p.sub= text
						- adv=adv+0.08
					+one-four-advantage('/img/3-0/icon_1.png', 'Наличие собственной логистической базы позволяет доставлять необходимые товары в срок')
					+one-four-advantage('/img/3-0/icon_2.png', 'Наши клиенты – крупнейшие игроки рынка сетевой розницы и производители продуктов питания РБ')
					+one-four-advantage('/img/3-0/icon_3.png', 'Предлагаем специальные программы лояльности, акции и скидки нашим клиентам')
					+one-four-advantage('/img/3-0/icon_4.png', 'Собственная сырьевая база гарантирет высокое качество нашей продукции')
				.flex-block.advantages.row
					+one-four-advantage('/img/3-0/icon_5.png', 'Наши бренды узнаваемы,  покупатели доверяют и любят нашу продукцию ')
					+one-four-advantage('/img/3-0/icon_6.png', 'Высокий спрос на наши продукты гарантирует высокий оборот и увеличение среднего чека')
					+one-four-advantage('/img/3-0/icon_7.png', 'Мы предлагаем выгодную систему оплаты и предоставляем отсрочку платежей')
					+one-four-advantage('/img/3-0/icon_8.png', 'Обеспечиваем рекламное продвижение наших продуктов на рынке')