extends _layout

block title
	title Карьера
block config
	- var main = false
	- var chart = false
	- var map = false
	- var chartjs = false
block content
	#main-screen-wrapper.advancedPage
		#main-first-screen-fading-wrapper
			img(src="/img/4-0/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="index.html") Главная
					h1.title-main Карьера
	#main-content
		aside#aside-menu.animated.fadeInLeft
			.aside-menu-wrapper
		.box#excellence.aside-menu-item(data-aside="Преимущества")
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h2 Преимущества работы в группе компаний «Серволюкс»
					.one-half.animateThis(data-anim="fadeInUp")
						.text-wrap
							p.h3 Качественный подбор, развитие сотрудников и формирование высокоэффективной профессиональной команды являются основными приоритетами в работе службы персонала.
							+button('посмотреть открытые вакансии', '0-0jobs.html')
			.block
				.flex-block.advantages.row
					- var adv = 0.2
					mixin one-four-advantage(img, text)
						.one-four
							.advantage-wrapper.animateThis(data-anim="fadeInUp" style="animation-delay: " + adv + "s")
								.advantage-img-item
									img(src=img).js-image.advantage-img
								.advantage-text
									p= text
						- adv=adv+0.08
					+one-four-advantage('/img/4-0/icon_1.png', 'Мы тесно сотрудничаем с различными учебными заведениями, ежегодно приглашая на работу десятки молодых специалистов.')
					+one-four-advantage('/img/4-0/icon_2.png', 'Вкладываем финансовые ресурсы в обучение персонала, как в открытом формате, так и создавая собственные обучающие программы и курсы.')
					+one-four-advantage('/img/4-0/icon_3.png', 'Предоставляем широкие возможности карьерного роста не только в рамках одного предприятия, а так же в рамках предприятий группы.')
					+one-four-advantage('/img/4-0/icon_4.png', 'Мы создаем комфортные условия для работы в наших компаниях. Предлагаем полный соц. пакет и компенсацию проезда до места работы.')
		.box#parallax.work.aside-menu-item(data-aside="Цифры")
			.parallax-img
				.parallax-img-relative
					img(src="/img/4-0/parallax_bg.jpg", alt="" data-rellax-speed="2").rellax
			.block
				.flex-block
					.one-four
						p.h1 1999
						p.sub Год основания компании.
					.one-four
						p.h1 9
						p.sub производственных площадок в Беларуси
					.one-four
						p.h1 5
						p.sub Офисов в крупнейших городах России и Беларуси
					.one-four
						p.h1 8500+
						p.sub Количество сотрудников компании на начало 2017 года
		.box#corporateCulture.aside-menu-item(data-aside="Корпоративная культура")
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.h2 Корпоративная культура
					.one-half
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.darker Порядочность
						.green-stick-top
							p Полный цикл производства «от поля до прилавка» гарантирует безопасность и стабильные вкусовые свойства продукции в каждой поставке.
					.one-half.animateThis(data-anim="fadeInUp")
						p.darker Ориентированность на клиентов
						.green-stick-top
							p В нашем арсенале собственная логистическая компания и разветвленная сеть дистрибьюторских центров. Мы поставляем товар в срок и в любом объеме.
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.darker Ответственность
						.green-stick-top
							p Мы соблюдаем жесткие требования по перевозке и хранению продукции благодаря развитой низкотемпературной логистике.
					.one-half.animateThis(data-anim="fadeInUp")
						p.darker Программа лояльности
						.green-stick-top
							p Мы предлагаем программы лояльности для вас и ваших сотрудников
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.darker Ответственность
						.green-stick-top
							p Мы соблюдаем жесткие требования по перевозке и хранению продукции благодаря развитой низкотемпературной логистике.
					.one-half.animateThis(data-anim="fadeInUp")
						p.darker Программа лояльности
						.green-stick-top
							p Мы предлагаем программы лояльности для вас и ваших сотрудников
		.box#opportunities.aside-menu-item(data-aside="Карьерные возможности").gray
			.block
				.flex-block
					.one-half.animateThis(data-anim="fadeInUp")
						p.h2 Карьерные возможности
						p.h3 Нашим сотрудникам предоставляются возможности самореализации в рамках предприятий группы.
						p Мы уделяем большое внимание привлечению в нашу команду высококвалифицированных специалистов благодаря грамотной системе мотивации.
						+button('Посмотреть открытые вакансии')
			.img-bg
				#vertical-wrapper
					.vertical-absolute
						#vertical-slider.slick-slider.vertical-slider
							.slick-slide
								.img-wrapper(style="background-image: url('/img/4-0/opport.jpg')")
							.slick-slide
								.img-wrapper(style="background-image: url('/img/4-0/opport.jpg')")
							.slick-slide
								.img-wrapper(style="background-image: url('/img/4-0/opport.jpg')")
							.slick-slide
								.img-wrapper(style="background-image: url('/img/4-0/opport.jpg')")
		.box#vacancy-block
			.block
				a(href="#").vacancy-block-green.bgMoveUp
					.vacancy-text-wrapper
						p.vacancy-text Все открытые вакансии на портале
						p.vacancy-href jobs.servolux.by
					.vacancy-button
						p.callback-button Перейти