extends _layout

block title
	title Новости
block config
	- var main = false
	- var chart = false
	- var map = false
	- var chartjs = false
block content
	#main-screen-wrapper.advancedPage
		#main-first-screen-fading-wrapper
			img(src="/img/6-0/header-img.jpg", alt="").firstScreenFading
		#main-screen
			#main-screen-title
				#title-wrapper.animated.fadeInDownMenu
					.bread
						a(href="index.html") Главная
					h1.title-main Новости
	#main-content
		.box#news-page
			.block#news
				#news-right-downloads.animateThis(data-anim="fadeInUp")
					p.h3 Документация
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт о результатах деятельности «Смолевичи бройлер» за 3 квартал 2016 года
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Уведомление об общественных обсуждениях
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
					a.news-download-block(href="#")
						p.href Отчёт по оценке воздействия на окружающую среду
						p.caption 17 мая 2017
				.news
					a.news-item.big-news.animateThis(href="6-1news.html" data-anim="fadeInUp" style="animation-delay: 0.1s")
						.img-news-wrapper(style='background-image: url("../img/index/news.jpg")')
						.text-news-wrapper
							p.href «Серволюкс» получает престижную награду «Лучший экспортер 2016 года» Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quo molestiae obcaecati perspiciatis, expedita, tempora accusantium dicta molestias, voluptas nemo modi. Rerum deleniti ab quis distinctio doloribus nulla illo error!
							p.text-news В Минске подведены итоги республиканского конкурса для предприятий различных форм собственности «Лучший экспортер 2016 года». В Минске подведены итоги республиканского конкурса для предприятий различных форм собственности «Лучший экспортер 2016 года».
							p.caption 21 мая 2017
					a.news-item.animateThis(href="6-1news.html" data-anim="fadeInUp" style="animation-delay: 0.2s")
						.img-news-wrapper(style='background-image: url("../img/index/news.jpg")')
						.text-news-wrapper
							p.href «Серволюкс» получает престижную награду «Лучший экспортер 2016 года» Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem itaque sunt similique harum iure illo laudantium ad quidem fugiat necessitatibus, iusto inventore quas quisquam neque labore eaque dolores molestias repudiandae?
							p.text-news В Минске подведены итоги республиканского конкурса для предприятий различных форм собственности «Лучший экспортер 2016 года».
							p.caption 21 мая 2017
					a.news-item.animateThis(href="6-1news.html" data-anim="fadeInUp" style="animation-delay: 0.2s")
						.img-news-wrapper(style='background-image: url("../img/index/news.jpg")')
						.text-news-wrapper
							p.href «Серволюкс» получает престижную награду «Лучший экспортер 2016 года»
							p.text-news В Минске подведены итоги республиканского конкурса для предприятий различных форм собственности «Лучший экспортер 2016 года».
							p.caption 21 мая 2017
					a.news-item.animateThis(href="6-1news.html" data-anim="fadeInUp" style="animation-delay: 0.2s")
						.img-news-wrapper(style='background-image: url("../img/index/news.jpg")')
						.text-news-wrapper
							p.href «Серволюкс» получает престижную награду «Лучший экспортер 2016 года» Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem itaque sunt similique harum iure illo laudantium ad quidem fugiat necessitatibus, iusto inventore quas quisquam neque labore eaque dolores molestias repudiandae?
							p.text-news В Минске подведены итоги республиканского конкурса для предприятий различных форм собственности «Лучший экспортер 2016 года».
							p.caption 21 мая 2017
					a.news-item.animateThis(href="6-1news.html" data-anim="fadeInUp" style="animation-delay: 0.2s")
						.img-news-wrapper(style='background-image: url("../img/index/news.jpg")')
						.text-news-wrapper
							p.href «Серволюкс» получает престижную награду «Лучший экспортер 2016 года»
							p.text-news В Минске подведены итоги республиканского конкурса для предприятий различных форм собственности «Лучший экспортер 2016 года».
							p.caption 21 мая 2017
					a.news-item.animateThis(href="6-1news.html" data-anim="fadeInUp" style="animation-delay: 0.2s")
						.img-news-wrapper(style='background-image: url("../img/index/news.jpg")')
						.text-news-wrapper
							p.href «Серволюкс» получает престижную награду «Лучший экспортер 2016 года» Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem itaque sunt similique harum iure illo laudantium ad quidem fugiat necessitatibus, iusto inventore quas quisquam neque labore eaque dolores molestias repudiandae?
							p.text-news В Минске подведены итоги республиканского конкурса для предприятий различных форм собственности «Лучший экспортер 2016 года».
							p.caption 21 мая 2017
					a.news-item.animateThis(href="6-1news.html" data-anim="fadeInUp" style="animation-delay: 0.2s")
						.img-news-wrapper(style='background-image: url("../img/index/news.jpg")')
						.text-news-wrapper
							p.href «Серволюкс» получает престижную награду «Лучший экспортер 2016 года»
							p.text-news В Минске подведены итоги республиканского конкурса для предприятий различных форм собственности «Лучший экспортер 2016 года».
							p.caption 21 мая 2017